<span id="a">rishiprakash@meetme</span>:<span id="b">~</span><span id="c">$</span> cd rishiprakash/About_Me
<span id="a">rishiprakash@meetme</span>:<span id="b">~</span><span id="c">$</span> cat rishiprakash.txt<br/><br/>
"<span id="k">Hey there, great to see you here.</span>"

This is Rishi Prakash.<p>Welcome</p>
<p>I am a Senior Software Developer,currently building REST APIs based Microservices. I am most skilled in Java and SpringBoot. you can checkout my resume here. <a href="./rishiprakash.pdf"> Resume</a></p>
<p>I usally waste my time solving DS,Algo and System Design problems.<br><br><br>You can checkout my past projects on my resume. I am also a mentee at Scaler Academy <a href="https://www.scaler.com/academy/profile/ZeroToOne/"> Scaler Academy Profile</a> link.</p>
<p> You can visit my LinkedIn, here: <a href="https://www.linkedin.com/in/rishi-prakash-developer/">LinkedIn</a> <br>
</p>


You can also contact me through email, feel free to send me an email at "rishiprakash99@gmail.com".

<p>Cheers!</p>
